{% extends "includes/_front.html.twig" %}

{% block body %}
    <div class="jumbotron">
    <h1 class="display-4">{{ nom }}</h1>
    <p class="lead">Trouver qui est le coupable ! Tel va être votre objectif ! Serez-vous à la hauteur ? En combien de coups parviendrez-vous à identifier l'auteur du forfait ?</p>
    <hr class="my-4">
    <p>Quelqu'un a subtilisé les chocolatines de Alain Vayssette ! Trouvez-le ! Posez les questions qui vous permettront d'établir le portait-robot.</p>
    <p class="lead">
        {# <a class="btn btn-primary btn-lg" href="#" mailto="{{ contactMail }}" role="button" title="Ecrivez à l'auteur">Pour en savoir plus sur ce jeu</a> #}
    </p>
    </div>
    test {{ qqch }} abc {{ number }}

    {% set routeJeuParametrage = path('JeuParametrage') %}

    <div class="row">
        <button onclick="window.location.pathname = '{{ routeJeuParametrage }}'" type="button" class="btn-game btn btn-outline-success">
            {# <a href="{{ path('Jeu') }}">COMMENCER LE JEU</a> #}
            PARAMETRER LE JEU
        </button>
    </div>

    {% set routeError = path('Error', {'errCode':'102'}) %}

    <div class="row">
        <button onclick="window.location.pathname = '{{ routeError }}'" type="button" class="btn-game btn btn-outline-warning">
            {# <a href="{{ path('Jeu') }}">COMMENCER LE JEU</a> #}
            Error
        </button>
    </div>

    {{ parent() }}
{% endblock %}